# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/public-html
#Dockerfile
#docker-compose.yml

# dotenv environment variable files
*.env
*.env.local
*.env.production
*.env.production.local
*.env.development
*.env.development.local

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*

