#ignore reuploading documentation
'How To Properly Add Code To The Repository.md'
'READ FIRST BEFORE DOING ANYTHING.md'
#'Setting Up Your Development Environment.md'
'README.md'
'LICENSE.md'

#ignore .DS_store
.DS_store

#ignore excess dependencies and configuration files in main folder
package-lock.json
/node_modules
