@mixin flexbox {
    display: flex;
    justify-content: center;
}

@mixin center {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

@mixin button-properties($bg-color) {
    border: none;
    background-color: #{$bg-color};
    border-radius: 16px;
    height: 50px;
    cursor: pointer;
}

@mixin input-properties {
    border-radius: 4px;
    padding: 2px 0px 2px 5px;
    border: $nh-black solid 1px;
}

@mixin img-properties {
    position: relative;
    border-radius: 4px;
    transition: opacity 0.25s;
    box-shadow: 0 3px 6px #100B009A;
}

@mixin img-desc-properties {
    color: $nh-white;
    background-color: $nh-black;
    font-size: .75rem; // 75% relative to root font-size (1em = 16px)
    margin: -27px 0 0 0px; // top, right, bottom, left
    padding: 5px 0;
    opacity: 0%;
    border-radius: 4px;
    transition: opacity 0.25s;
}