// Color variables
$nh-black: #100B00;
$nh-white: #FFFCF4;
$nh-body: #E2E1E0;
$nh-main: #EAEAE8;
$nh-error: #C31F01;
$nh-button: #CCF9C6;
$nh-button-hover: rgba(161, 214, 165);
$nh-gray: rgb(136,132,123);

// Form variables
$checkbox-shadow: 0 1px 2px rgba(0,0,0,0.05);
$checkbox-shadow-inset: inset 0px -15px 10px -12px rgba(0,0,0,0.05);
$nh-form-margin: 10px 0;
$nh-form-width: 50%;
$nh-signup-padding-bottom: 45px;

// Padding variables
$nh-padding-top-l: 25px;
$nh-padding-top-m: 15px;
$nh-padding-right: 10px;
$nh-padding-left: 5px;

// Image variables
$nh-article-img-width: 90%;
$nh-article-img-m-width: 584.1px;
$nh-profile-img-s-width: 50px;
$nh-profile-img-s-height: 45px;
$nh-profile-img-m-width: calc(#{$nh-profile-img-s-width} * 2);
$nh-profile-img-m-height: calc(#{$nh-profile-img-s-height} * 2);
$nh-profile-img-l-width: 332px;
$nh-profile-img-l-height: 252px;

// Font variables
$nh-font-small: .8rem;

// Lists
$nh-account-settings-forms: profile_pic, name, status, fb, twitter, insta, email, birthday, address, password;