// Color variables
$nh-black: #100b00;
$nh-white: #fffcf4;
$nh-body: #e2e1e0;
$nh-main: #eaeae8;
$nh-error: #c31f01;
$nh-button: #ccf9c6;
$nh-button-hover: rgba(161, 214, 165);
$nh-gray: rgb(136, 132, 123);

// Form variables
$checkbox-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
$checkbox-shadow-inset: inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
$nh-form-margin: 10px 0;
$nh-form-width: 50%;
$nh-signup-padding-bottom: 45px;

// Padding variables
$nh-padding-xl: 25px; // $nh-padding-top-l originally
$nh-padding-l: 20px;
$nh-padding-m: 15px; // $nh-padding-top-m originally
$nh-padding-s: 10px; // $nh-padding-right originally
$nh-padding-xs: 5px; // $nh-padding-left originally

// Margin variables
$nh-main-margin: 25px 0;
$nh-margin-s: 10px;

// Image variables
$nh-article-img-width: 90%;
$nh-article-img-m-width: 584.1px;
$nh-profile-img-s-width: 50px;
$nh-profile-img-s-height: 45px;
$nh-profile-img-m-width: calc(#{$nh-profile-img-s-width} * 2);
$nh-profile-img-m-height: calc(#{$nh-profile-img-s-height} * 2);
$nh-profile-img-l-width: 332px;
$nh-profile-img-l-height: 252px;

// Font variables
$nh-font-small: 0.8rem;

// Lists
$nh-account-settings-forms: profile_pic, name, status, fb, twitter, insta, email,
  birthday, address, password;
