.footer_ul {
    padding: 0% 3% 2% 3%;
    > li {
        padding-top: 25px;
        > h4 {
            margin: 0;
        }
    }
    li:not(first-child):hover {
        text-decoration: underline;
    }
}

.social_links > ul > li {
    padding-left: 5px;
}