form {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 3px 6px #100B0098;
    padding: 10px 0px 10px 0px; 
    > ul {
        list-style-type: none;
    }
}

fieldset {
    border: none;
    margin-bottom: -10px;
}

.login_form {
    width: 35%;
    margin-top: 100px;
}

.signup_form {
    @include center;
    width: 70%;
}

.signup_fieldset {
    padding: 0 0 0 25px;
}

.signup_input {
    width: 95%;
}

.top_div {
    text-align: center;
}

label, input, .form_links, select[id="gender"] {
    margin: 10px 0px 10px 0px; // top, right, bottom, left
}

.form_links {
    text-align: center;
    > span {
        font-size: 80%;
    }
}

label[for="rememberMe"], label[for="newsletter"], .resend_email_span, .agreement {
    font-size: 80%;
}

.agreement {
    text-align:center;
    @include center;
    width: 50%;
    padding-top: 90px;
}

.signup_fields {
    padding-bottom: 5px;
}

.top_div {
    padding-bottom: 90px;
}

label[for="rememberMe"], label[for="newsletter"] {
    margin-left: 5px; 
}

label[for="newsletter"] {
    text-align: center;
}

label[for="pay"] {
    margin-bottom: -3px;
    display: block;
    text-align: center;
}

.newsletter {
    text-align: center;
    padding: 11px 0;
}

.geo_location {
    margin: 10px 10px 0 0;
    display: inline;
}

.login_input {
    width: 97.5%;
}

.resend_email_span {
    padding-top: 25px;
}

.login_form {
    @include center;
}

.pay_buttons {
    @include button_properties;
    width: 21%;
    margin-right: 24px;
    margin-top: 5px;
    margin-bottom: 3px;
}

.pay_with {
    text-align: center;
    margin-left: -22px;
    padding: 10px 0;
}

.paypal_button {
    @include button_properties;
    width: 93%;
    height: 50px !important;
}

.bitcoin_button {
    @include alt_button_properties;
    width: 93%;
    height: 50px !important;
}

.login_submit {
    @include button_properties;
    @include center;
    width: 95%;
}

.security_submit {
    @include button_properties;
    width: 12.5%;
}

.security_question {
    width: 50%;
}

button:hover {
    background-color: $nh-button-hover;
}

button:focus {
    outline: none;
}

select {
    @include input-properties;
}

input:not([type='checkbox']) {
    height: 25px;
    @include input-properties;
}

input:focus, input:focus {
    outline: none;
    border: $nh-black solid 2px;
}