.hamburger_icon, 
.exit_cross {
    display: none; 
}

.logo {
    @include center;
    padding-top: 1%;
}

// NOTE: li tag doesn't have > because it causes a bug. - Zane
nav > div {
    padding: $nh-padding-xs 0;
    li {
        display: inline;
        padding: 1% 2.75%;
        
        // For li tags with class "vertical_bar"
        &:nth-child(even) {
            color: $nh-white;
            cursor: default;
            &::selection {
                color: none;
                background: none;
            }           
        }
        &:nth-child(odd):hover {
            background-color: $nh-gray;
        }
    }
}

.content_nav {
    margin: -8.5% -5% 0 -5%; //-72px -42px 0 -42px
    > div > ul li {
        padding: 0 5%;
    }
}

.content_nav > div > ul > li:hover {
    background-color: transparent;
}

// Source: https://www.w3schools.com/css/css_dropdowns.asp - Zane

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    padding-top: 1%;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: $nh-black;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 $nh-black;
    z-index: 1;
    margin: 16px 0 0 -15px; 
    padding: $nh-padding-s 0; /* top+bottom left+right */
}
  
/* Links inside the dropdown */
.dropdown-content {
    > button, a {
        color: $nh-white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
} 
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}