.hamburger_icon, 
.exit_cross {
    display: none; 
}

.logo {
    @include center;
    padding-top: 1%;
}

nav > div {
    padding: 5px 0px 5px 0px;
    li {
        display: inline;
        padding: 1% 2.75%;
    }
    li:nth-child(even) {
        color: $nh-white;
        cursor: default;
        ::selection {
            color: none;
            background: none;
        }
    }
}