// Login

.login_display {
    background-image: url("../images/login.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 725px;
    > h1 {
        padding-top: 75px;
        text-align: center;
        margin: 0;
        color: $nh-white;
    }
}

// About

.donate_image {
    @include img-properties;
    width: 100%;
}

.donate_image_desc {
    @include img-desc-properties;
}

.tribe_image {
    @include img-properties;
    @include center;
}

.tribe_image_desc {
    @include img-desc-properties;
    margin: -20px 30.75% 0 30.75%;
}

.indian_image {
    @include center;
    width: 50%;
    height: auto;
}

.indian_image_desc {
    @include img-desc-properties;
    margin: -30px 25.75% 0 25.75%;
}

iframe[title="Oklevueha NAC Religious Freedoms Prevails"] {
    @include center;
}

// Donate

.image_display {
    @include center;
    width: 100%;
}

.image_display,
.paypal_link {
    padding: $nh-padding-xl 0; /* top right bottom left */
}

.image_display:hover {
    opacity: 80%;
    .image_desc {
        opacity: 95%;
    }
    transition: opacity 0.25s;
}

// Sign up

.bitcoin_link {
    text-align: center;
}

.bitcoin_span {
    opacity: 50%;
}

.paypal_bitcoin {
    @include center;
}

// Content

.podcast_img {
   width: 454.3px;
   height: auto; 
}

// Article

.article {
    &_img_med {
        border-radius: 4px;
        width: $nh-article-img-m-width;
    }
    &_image {
        width: $nh-article-img-width;
        @include center;
        @include img-properties;
    }
    &_image_desc {
        width: $nh-article-img-width;
        margin: auto !important;
        margin-top: -20px !important;
        @include img-desc-properties;
    }
}

// Authenicated nav

.magnifying_glass {
    width: 23px;
    height: auto;
    position: absolute;
    cursor: pointer;
    border: 2px solid white;
    background: white;
    margin-top: -2px;
    &:hover {
        background-color: lightgray;
    }
}

// Profile

.profile_img {
    &_small {
        padding-left: $nh-padding-xs;
        border-radius: 50%;
        width: $nh-profile-img-s-width;
        height: $nh-profile-img-s-height;
    }
    &_med {
        padding-left: $nh-padding-xs;
        border-radius: 50%;
        width: $nh-profile-img-m-width;
        height: $nh-profile-img-m-height;
    }
    &_large {
        width: $nh-profile-img-l-width;
        height: $nh-profile-img-l-height;
    }
}

// Connections

.message_icon {
    width: 62%;
    padding-bottom: $nh-padding-l;
    &_a {
        float: right;
    }
}