nav > div, footer {
    background-color: $nh-black;
    li {
        list-style-type: none;
    }
    .nav_footer_links, h4 {
        color: $nh-white;
        text-decoration: none;
    }
}

nav > div > ul, 
footer > div, 
.social_links > ul  {
    @include flexbox;
}

.MsoNormal {
    font-size: 28px;
}

tr:first-child > td {
    text-decoration: underline;
}

a {
    color: $nh-black;
    font-weight: bold;
    text-decoration: none;
    :hover {
        text-decoration: underline;
    }
}

.error_description {
    color: $nh-error-red;
}