nav ul, 
footer > div, 
footer > div:last-child ul  {
    @include flexbox;
} 

nav > div, 
footer {
    background-color: $nh-black;
    a, h4 {
        color: $nh-white;
        text-decoration: none;
    }
    li {
        list-style-type: none;
    }
}

footer a, 
footer > div:nth-child(2) li {
    color: $nh-white;
    text-decoration: none;
}

.MsoNormal {
    font-size: 1.75rem; // 175% relative to root font-size (1em = 16px)
}

tr:first-child > td {
    text-decoration: underline;
}

a {
    color: $nh-black;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.about_link {
    display: block;
    text-align: center;
}

.error_description {
    color: $nh-error;
}

.center_text {
    text-align: center;
}

.experiences_div {
    @include center;
    width: 50%;
}

.clear {
    clear: both;
}

// Content page

.main_content {
    > section {
        background-color: white;
        border-radius: 4px;
        box-shadow: 0px 3px 6px #100B0098;
        margin: 25px 0;
        width: calc(649px*.90);
        > h3 {
            text-align: center;
        }
    }
}

.aside_content {
    padding-left: 20px;
    > aside:not(:nth-child(3)) {
        background-color: white;
        border-radius: 4px;
        box-shadow: 0px 3px 6px #100B0098;
        margin: 25px 0;
        width: calc(649px*.70);  
    }
}

// Src: https://coder-coder.com/display-divs-side-by-side/
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.header_content {
    padding: 50px 0 10px 0;
}

.author_content {
    > p, img {
        float: left;
    }
    margin: 10px 10px;
}

.sub_article_content {
    float: right;
    clear: right;
    margin: 0 10px 10px 10px; /* top right bottom left */
}

.top_aside, .bottom_aside {
    > div, ul, a {
        padding: 25px 25px 0 25px;
        > li {
            list-style-type: none;
            padding-bottom: 25px;
        }
    }
    > a {
        text-align: center;
    }
}

.more_articles_link {
    width: 65%;
    float: right;
    padding-top: 10px;
}

// Article page

.top_aside_container {
    display: block;
    > div:first-child {
        float: left;
    }
    > div:nth-child(2) {
        float: right;
        margin-top: 14px;
        > a {
            padding-right: 10px;
        }
    }
}

.bottom_aside_container {
    display: block;
    > div:first-child {
        float: left;
        > ul {
            margin-left: -40px;
            > li {
                padding-right: 10px;
                list-style-type: none;
                display: inline;
            }
        }
        > p {
            font-size: .8rem;
        }
    }
    > div:nth-child(2) {
        float: right;
        margin-top: 14px;
        > a {
            padding-right: 10px;
        }
    }
}

.back_to_articles_link {
    padding-top: 50px;
    width: 100%;
    text-align: center;
}

.comment_section_container {
    display: none;
}

.blur_container {
    filter: blur(1.5rem);
    position: relative;
}

.blur_text_container {
    text-align: center;
    position: absolute;
    top: 175%;
    right: 81%;
    margin-right: -50%;
}

// Comment section

.comment_container {
    > div:nth-of-type(1) {
        float: left;
        > img {
            float: left;
            margin: 10px 10px 0 0;
        }
        > div {
            float: right;
            margin-top: -10px;
            > div > p {
                width: 90%;
                margin-top: -5px;
                font-size: .8rem;
            }
        }
    } 
    > div:nth-of-type(3) {
        width: 80%;
        margin-top: -105px;
        float: right;
        > div:first-of-type {
            float: left;
            > p {
                font-size: .8rem;
            }
        }
        > ul {
            margin-left: -38px;
        }
        > ul:first-of-type {
            float: right;
            margin-top: 0;
            list-style-type: none;
            > li {
                display: inline-block;
                margin-left: -10px;
            }
            > li:first-child {
                > img {
                    width: 50%;
                }
            }
            > li:nth-child(2) {
                font-size: .8rem;
            }
        }
        > div:nth-of-type(3) {
            padding-bottom: 5px;
            > ul {
                list-style-type: none;
                padding: 15px 0 5px 0;
                font-size: .8rem;
                > li {
                    display: inline-block;
                    padding-right: 5px;
                }
            }
        }
    }
}

// Response section

.response_container {
    > div {
        width: 100%;
        padding: 10px;
        float: right;
        > div:first-of-type {
            float: left;
            > img {
                float: left;
                margin: 10px 10px 0 0;
            }
            > div {
                float: right;
                margin-top: -10px;
                > div > p {
                    margin-top: -5px;
                    font-size: .8rem;
                }
            }
        }
        > div:nth-of-type(2) {
            float: left;
            > p {
                font-size: .8rem;
            }
        }
        > ul {
            margin-left: -38px;
        }
        > ul:first-of-type {
            float: right;
            margin-top: 0;
            list-style-type: none;
            > li {
                display: inline-block;
                margin-left: -10px;
            }
            > li:first-child {
                > img {
                    width: 50%;
                }
            }
            > li:nth-child(2) {
                font-size: .8rem;
            }
        }
        > div:nth-of-type(4) {
            padding-bottom: 5px;
        }
        > ul:nth-of-type(2) {
            list-style-type: none;
            padding-bottom: 5px;
            font-size: .8rem;
            margin-left: -38px;
            > li {
                display: inline-block;
                padding-right: 5px;
            }
        }
    }
}

.response_section_container {
    display: none;
}