// NOTE: Majority of this code is starter code.
// Source: https://blog.bitsrc.io/build-a-full-featured-modal-dialog-form-with-react-651dcef6c571 - Zane

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
  width: 90%;
  max-width: 700px;
  margin: 2em auto;
}

p.lorem-text {
  text-align: justify;
}

.modal-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateZ(0);
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.5em 1.5em 1.5em 1.5em;
  background-color: #ffffff;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 16px;
}

// Media CSS for modal might be useful in the future. - Zane
@media screen and (min-width: 500px) {
  .modal-area {
    left: 50%;
    top: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    max-width: 30em;
    max-height: calc(100% - 1em);
  }
}

._modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  line-height: 1;
  background: white;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
}

._modal-close-icon {
  width: 25px;
  height: 25px;
  fill: transparent;
  stroke: $nh-black;
  stroke-linecap: round;
  stroke-width: 8;
  margin: 5px 5px 0 0;
}

.modal-body {
  padding-top: 0.25em;
}

._hide-visual {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.scroll-lock {
  overflow: hidden;
  margin-right: 17px;
}

.modal_button {
	font-size: 1em;
  text-align: left;
	color: $nh-white;
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
}

.modal_button:hover {
  text-decoration: underline;
}

.submit_btn {
  @include button_properties($nh-button);
  width: 97.5%;
  height: 50px !important;
}

.close_btn {
  @include button_properties(white);
  width: 97.5%;
  height: 50px !important;
  margin-top: 15px;
}

.newsletter_h2,
.newsletter_h2 ~ p {
  text-align: center;
}

.modal_form {
  box-shadow: none !important;
  overflow: hidden;
}

// Share Podcast 

.social_media_field {
  @include center;
  width: 432px;
  margin-left: 30px;
  > div {
    float: left;
    width: 144px;
  }
  > a {
    float: left;
    width: 144px;
  }
  > br {
    clear: left;
  }
}

.share_link_field {
  #shareLink {
    width: 235px;
    padding-right: $nh-padding-xs;
    margin-right: 15px;
  }
  .share_btn {
    @include button_properties($nh-button);
    width: 150px;
    height: 50px !important;
    margin-top: 15px;
  }
}
